* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #2f80ed;
}

:root {
  --bg-color: #ffff;
  --text-color: #000;
  --nav-drawer: #000;
  --navbar-color: #fff;
  --btn-bg-color: #a3a3a3;
  --card-color: #f3f3f3;
}

.dark_theme {
  --bg-color: #181a2a;
  --text-color: #fff;
  --nav-drawer: #242535;
  --navbar-color: #181a2a;
  --btn-bg-color: #3d3a4e;
  --card-color: rgb(30, 34, 61);
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 10px;
  background: var(--btn-bg-color);
  background-size: 400%;
  color: #fff;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:active {
  transform: scale(0.9);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  margin: 15px;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: var(--card-color);
  color: var(--text-color);
}

.card__body {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  color: var(--text-color);
  text-transform: capitalize;
  margin: 10px 0px 10px 0px;
}

.card__body p {
  color: var(--text-color);
}

.card__body:hover p {
  color: #56ccf2;
}
.card__body:hover h4 {
  color: #56ccf2;
}
.card__body:active p {
  color: #00ace6;
}
.card__body:active h4 {
  color: #00ace6;
}

.card__footer {
  display: flex;
  padding: 1rem;
  color: var(--text-color);
  margin-top: auto;
}

.user {
  display: flex;
  cursor: pointer;
  color: var(--text-color);
  gap: 0.5rem;
}

.user:hover h4 {
  color: #56ccf2;
}
.user:active p {
  color: #00ace6;
}

.user__image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.user__info > small {
  color: var(--text-color);
}

@media only screen and (max-width: 708px) {
  .card {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
